<ion-header>
  <ion-toolbar [color]="authenticated == true ? 'dark' : 'default'">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Details
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content ion-no-padding>
  <ion-item [ngStyle]="{'text-align': center}" *ngFor="let info of coffee; let i of index">
    <img width="320" src="{{info.image}}"  class="app-logo" alt="{{info.name}}">
    <br>
    <strong>{{info.name}}</strong>
    <p>{{info.kind}}</p>
  </ion-item>
  <ion-buttons>
    
    <ion-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/card/{{id}}" > Carrito</ion-button>
    <ion-button>Gardar</ion-button>
  </ion-buttons>
</ion-content>