<ion-header>
  <ion-toolbar [color]="authenticated == true ? 'dark' : 'default'">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Details
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content ion-no-padding>
  <div class="about-header" *ngFor="let info of coffee; let i of index">
    <img src="{{info.image}}" alt="{{info.titulo}}">
  </div>
  <div class="about-info" *ngFor="let info of coffee; let i of index">
    <h4 class="ion-padding-start">{{info.name}}</h4>
    <ion-list lines="none" *ngFor="let info of coffee; let i of index">
      <ion-item>
        <ion-text> {{info.kind}}</ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>