<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Coleciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">

  <ion-item [hidden]='collections.length > 0' *ngIf="!addcollection">
    <p>No hi han colecions </p>
  </ion-item>

  <ion-list *ngIf="!addcollection && collections.length > 0">
    <ion-item *ngFor="let collection of collections" [color]="collection.checked ? 'primary': 'light'" (click)="manageevent(collection)" >
      <div [ngClass]="{'disabled': !collection.checked, 'avable': collection.checked }" >
        <p>{{collection.name}}</p>
      </div>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="addcollection">
    <form [formGroup]="collectionsForm" (ngSubmit)="submitForm()">
      <ion-input type='text' placeholder="Nombre de la coleción" formControlName="collectionname"
        class="form-control form-control-lg"></ion-input>
      <ion-button color='dark' expand="block" shape="round" fill="outline" type="submit">
        <ion-icon name="person"></ion-icon>Crear una nueva coleción
      </ion-button>
    </form>
  </ion-item>

  <ion-fab *ngIf="!addcollection" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color='dark' (click)="addcollection = !addcollection">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>