<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Producto
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form id="contact_form" name="contact_form" className="form-contact" onSubmit={this.handleSubmit}>
    <h1 id="heading">Comprar un producto</h1>
      <div className="contact_item">
        <label htmlFor="number">Numero de cuenta</label><br/>
        <input type="text" size="20" name="number" onChange={this.handleChange} required/>
      </div>
      <div className="contact_item">
        <label htmlFor="exp_month">Expiration Month</label><br/>
        <input type="text" size="2" name="exp_month" onChange={this.handleChange} required/>
      </div>
      <div className="contact_item">
        <label htmlFor="exp_year">Expiration Year</label><br/>
        <input type="text" size="4" name="exp_year" onChange={this.handleChange} required/>
      </div>
      <div className="contact_item">
        <label htmlFor="cvc">CVC</label><br/>
        <input type="text" size="4" name="cvc" onChange={this.handleChange} required/>
      </div>
      <div className="contact_item">
        <button className="btn-search" type="submit">Pay</button>
      </div>
    </form>
</ion-content>

