<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <ion-list>
            <ion-item>
              <ion-input
                formControlName="usuario"
                placeholder="Username"
                class="form-control form-control-lg"
                type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="avaible">
                <ion-input
                formControlName="email"
                placeholder="Email"
                class="form-control form-control-lg"
                type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password"></ion-input>
            </ion-item>
            <ion-item *ngIf="avaible">
              <ion-icon name="people"></ion-icon>
              <ion-label>"Tipo de usuario"</ion-label>
              <ion-select placeholder="Eligue el tipo de usuario" 
              formControlName="tipo">
                <ion-select-option value="admin">Admin</ion-select-option>
                <ion-select-option value="client">Client</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
                <ion-button *ngIf="avaible" routerLink="/login" >Entrar</ion-button>
                <ion-button *ngIf="!avaible" routerLink="/register">Registr-se</ion-button>
              </ion-item>

            <ion-button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid" type="submit">
                <ion-icon name="person"></ion-icon>{{ title }}
            </ion-button>
          </ion-list>
        </form>
</ion-content>