<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-item>
          <a routerLink="/login" >Have an account?</a>
          <a routerLink="/register">Need an account?</a>
        </ion-item>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <ion-list>
            <ion-item [disabled]="isSubmitting">
              <ion-input
                formControlName="username"
                placeholder="Username"
                class="form-control form-control-lg"
                type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                formControlName="email"
                placeholder="Email"
                class="form-control form-control-lg"
                type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password"></ion-input>
            </ion-item>
            <ion-button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid" type="submit">
                <ion-icon name="person"></ion-icon>{{ title }}
            </ion-button>
          </ion-list>
        </form>
</ion-content>