ion-col{
    ion-text{
        vertical-align: center;
    }
}

.desable{
    background: white!important;
    color: #026fc9!important;
  }

  .avable{
    background: #026fc9!important;
    color: white!important;
  }

  
ion-list-header{
    border: 0;
    margin-top:5px;
    margin-bottom: 2px;
    .container{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
          margin:0;
          padding-left:2px;
          padding-right: 2px;
          li{
              display: inline-block;
              margin:0;
              padding-right:2%;
             
              ion-avatar{
                  margin:auto;
                  display:block;
                  padding:auto;
                  border: 4px solid #026fc9;
                  width: 50px;
                  height: 50px;
              }
              ion-text{
                  text-align:center;
                  display:block;
                  font-size: 12px;
              }
          }

          .desable{
            background: white;
            color: #026fc9;
            max-width: 62px;
            width: 62px;
            min-width: 62px;

            ion-avatar{
                border: 4px solid #026fc9;
            }
          }

          .avable{
            background: #026fc9;
            color: white;
            width: auto;
            ion-avatar{
                border: 4px solid white;
            }
          }
      }
}
