<ion-header>
  <ion-toolbar  [color]="authenticated ? 'dark' : 'light'">
    <ion-title>Eventos</ion-title>
    <ion-segment *ngIf="authenticated" [color]="authenticated ? 'light' : 'primary'" value='calendar'>
        <ion-segment-button value="calendar" (ionSelect)="setab($event.target.value)">
          <ion-icon [color]="tab_active == 'calendar' ? 'light':'default'" name="calendar"></ion-icon>
        </ion-segment-button>     
        <ion-segment-button value="list" (ionSelect)="setab($event.target.value)">
          <ion-icon [color]="tab_active == 'list' ? 'light':'default' " name="list"></ion-icon>
        </ion-segment-button>
    </ion-segment>
      <ion-avatar slot="end">
        <img *ngIf="!authenticated" [routerLink]="['/login']"
          src="https://cdn1.iconfinder.com/data/icons/business-users/512/circle-512.png"
          alt="https://cdn2.iconfinder.com/data/icons/scenarium-vol-4/128/002_avatar_man_profile_account_user_male-128.png">
  
        <img *ngIf="authenticated" [routerLink]="['/profile', currentUser.usuario]" [src]="currentUser.avatar"
          alt="https://cdn2.iconfinder.com/data/icons/scenarium-vol-4/128/002_avatar_man_profile_account_user_male-128.png">
      </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>


<!--   <ion-list-header *ngIf="authenticated  && tab_active === 'list' && authors2.length > 0"  >
    <ul class="container">
      <li *ngFor="let author of authors2" (click)="findauthor(author)" id={{author.id}}  [ngClass]="{'disabled':!author.select , 'avable': author.select }">
          <ion-avatar>
              <ion-img src='{{author.foto}}'></ion-img>
            </ion-avatar>
            <ion-text>
              {{author.name }}
            </ion-text>
      </li>
    </ul>
  </ion-list-header> -->

  <ion-list-header *ngIf="authenticated  || tab_active !== 'list'" [hidden]="myevents.length > 0">
    No tingo ningun evento
  </ion-list-header>

  <ion-list *ngIf="authenticated  && tab_active == 'list'" [hidden]="myevents.length === 0">
    <ion-item *ngFor="let session of myevents" [color]="session.checked ? 'primary': 'light'" >
      <h3 (click)="viewdetails(session);">{{session.titulo}}</h3>
        <ion-icon slot='end'name='add-circle' (click)="hendleevent(session)" ></ion-icon>
    </ion-item>
  </ion-list>


  <!-- <ion-list-header *ngIf="authenticated == false || tab_active === 'calendar' && authors.length > 0"  >
    <ul class="container">
      <li *ngFor="let author of authors" (click)="findauthor(author)" id={{author.id}}  [ngClass]="{'disabled':!author.select , 'avable': author.select }">
          <ion-avatar>
              <ion-img src='{{author.foto}}'></ion-img>
            </ion-avatar>
            <ion-text>
              {{author.name }}
            </ion-text>
      </li>
    </ul>
  </ion-list-header> -->

  <ion-list-header [hidden]='eventSource2.length > 0'  *ngIf=" tab_active === 'calendar'">
    No Hay nigun evento
  </ion-list-header>

  <ion-list [hidden]="eventSource2.length <= 0"  *ngIf="tab_active == 'calendar'">
    <ion-item *ngFor="let session of eventSource" color="light" >
      <h3 (click)="viewdetails(session)">{{session.titulo}}</h3>
      <ion-icon v-if='authenticated && eventSource2.length > 0' slot='end' name='add-circle' (click)="hendleevent(session)"></ion-icon>
    </ion-item>
  </ion-list>


</ion-content>