<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Crea una reserva
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>
    reserve works!
  </p>
  <ion-item *ngFor="let item of reserve">
    <p>{{ item.title }}</p>
    <p>{{item.datestart}}</p>
    <p>{{item.dateend}}</p>
    <h2>{{item.price}}€</h2>
    <ion-buttons>
      <ion-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/reserve/delete/{{item.id}}">Elimianr Reservar</ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>

