<ion-header>
    <ion-back-button>
      <ion-title>Checkbox</ion-title>
    </ion-back-button>
  </ion-header>
  
  <ion-content padding>
      <ion-progress-bar progress="70" rounded color="dark"></ion-progress-bar> 

      <h3>Basic progress bars</h3>
      <ion-progress-bar progress="20"></ion-progress-bar>
      <ion-progress-bar progress="30" color="primary"></ion-progress-bar>
      <ion-progress-bar progress="40" color="secondary"></ion-progress-bar>
      <ion-progress-bar progress="50" color="danger"></ion-progress-bar>
      <ion-progress-bar progress="60" color="light"></ion-progress-bar>
      <ion-progress-bar progress="70" color="dark"></ion-progress-bar>
    
      <h3>Rounded progress bars</h3>
      <ion-progress-bar progress="20" rounded></ion-progress-bar>
      <ion-progress-bar progress="30" rounded color="primary"></ion-progress-bar>
      <ion-progress-bar progress="40" rounded color="secondary"></ion-progress-bar>
      <ion-progress-bar progress="50" rounded color="danger"></ion-progress-bar>
      <ion-progress-bar progress="60" rounded color="light"></ion-progress-bar>
      <ion-progress-bar progress="70" rounded color="dark"></ion-progress-bar>
  
      
  </ion-content>