ion-progress-bar {
  display: block;
  overflow: hidden;
  height: 20px;
  width: 100%;
  background-color: white;
  border: 1px solid #333;
}

ion-progress-bar div {
  background-color: #333;
  height: 100%;
}

ion-progress-bar[color='primary'] {
  border: 1px solid #488aff;
}

ion-progress-bar[color='primary'] div {
  background-color: #488aff;
}

ion-progress-bar[color='secondary'] {
  border: 1px solid #32db64;
}

ion-progress-bar[color='secondary'] div {
  background-color: #32db64;
}

ion-progress-bar[color='danger'] {
  border: 1px solid #f53d3d;
}

ion-progress-bar[color='danger'] div {
  background-color: #f53d3d;
}

ion-progress-bar[color='light'] {
  border: 1px solid #f4f4f4;
}

ion-progress-bar[color='light'] div {
  background-color: #f4f4f4;
}

ion-progress-bar[color='dark'] {
  border: 1px solid #222;
}

ion-progress-bar[color='dark'] div {
  background-color: #222;
}

ion-progress-bar[rounded] {
  border-radius: 10px;
}

ion-progress-bar[rounded] div {
  border-radius: 10px 0px 0px 10px;
}