<ion-header>
    <ion-back-button>
      <ion-title>Checkbox</ion-title>
    </ion-back-button>
  </ion-header>
  
  <ion-content padding>
      <ion-progress-bar value="0.7" rounded color="dark"></ion-progress-bar> 
      <ion-progress-bar value="0.2" rounded></ion-progress-bar>
      <ion-progress-bar value="0.3" rounded color="success"></ion-progress-bar>
      <ion-progress-bar value="0.4" rounded color="secondary"></ion-progress-bar>
      <ion-progress-bar value="0.5" rounded color="danger"></ion-progress-bar>
      <ion-progress-bar value="0.6" rounded color="light"></ion-progress-bar>
      <ion-progress-bar value="0.7" rounded color="dark"></ion-progress-bar>
      <ion-progress-bar value="0.9" rounded></ion-progress-bar>
      
  </ion-content>