<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="user"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="passwd"></ion-input>
    </ion-item>
  </ion-list>
  <ion-item-group>
      <ion-button shape="round" color="primary" expand="block" fill="outline">
          <ion-icon name="person"></ion-icon>Submit</ion-button>
    <ion-button (click)="handleauth()">Sign in with google</ion-button>
    <ion-button *ngIf="userbool" color="danger" (click)="handleLogout()">Sign out</ion-button>
  </ion-item-group>

</ion-content>