<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Stylecoffee</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/filter">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item slot="end">
      <ion-avatar *ngIf="!authenticated" [routerLink]="['/login']">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              alt="https://cdn2.iconfinder.com/data/icons/scenarium-vol-4/128/002_avatar_man_profile_account_user_male-128.png">
      </ion-avatar>
      <ion-avatar *ngIf="authenticated" [routerLink]="['/profile', currentUser.usuario]" >
          <img [src]="currentUser.avatar" *ngIf="currentUser.avatar"
              alt="https://cdn2.iconfinder.com/data/icons/scenarium-vol-4/128/002_avatar_man_profile_account_user_male-128.png">
      </ion-avatar>
  </ion-item>
  </ion-toolbar>
  <ion-segment [(ngModel)]="tab_active" value = 'book'>
    <ion-segment-button value="book" (click)="setab('book')">
      <ion-icon name="bookmarks"></ion-icon>Libros
    </ion-segment-button>
    <ion-segment-button value="coffee" (click)="setab('coffee')">
      <ion-icon name="cafe"></ion-icon>Cafés
    </ion-segment-button>
  </ion-segment>

</ion-header>
<ion-content>
    <ion-grid *ngIf="!contentavaible">
        <ion-row>
            <ion-col>
            <ion-item>
                <ion-icon *ngIf="tab_active === 'book'"  name="bookmarks" text-center ></ion-icon>
                <ion-icon *ngIf="tab_active === 'coffee'" name="cafe"text-center ></ion-icon>
                <ion-text text-center >No hay {{tab_active}} disponibles!!!</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

  <ion-grid *ngIf=" contentavaible &&  tab_active === 'book'">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
    <app-filter></app-filter>
    <ion-row *ngFor="let info of infos; let i of index" [ngStyle]="{'width': 320, 'height': 510}"
      routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/details/{{info.id}}">
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-img width="auto" height="350px" src="{{info.image}}" alt="{{info.displayName}}"></ion-img>
          </ion-item>
          <ion-item *ngIf="authenticated">
            <ion-buttons slot="start">
              <ion-icon name="heart" id="{{info.id}}" [color]="color" (click)="clickEventHandler($event.target)"></ion-icon>
            </ion-buttons>
            <ion-title routerLinkActive="active" id="{{info.id}}" [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/details/{{info.id}}">{{info.displayName}}</ion-title>
            <ion-buttons slot="end">
              <ion-icon name="archive" [color]="colorSecundary" (click)="clickEventHandlerSave($event.target)">
              </ion-icon>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="contentavaible && tab_active === 'coffee'">
    <app-filter></app-filter>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <ion-row *ngFor="let info of coffees" [ngStyle]="{'width': 320, 'height': 510}" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" routerLink="/coffeedetails/{{info.id}}">
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-img width="auto" height="350px" src="{{info.image}}" alt="{{info.displayName}}"></ion-img>
          </ion-item>
          <ion-item *ngIf="authenticated">
            <ion-buttons slot="start">
              <ion-icon name="heart" [color]="color" (click)="clickEventHandler($event.target)"></ion-icon>
            </ion-buttons>
            <ion-title routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/coffeedetails/{{info.id}}">{{info.name}}</ion-title>
            <ion-buttons slot="end">
              <ion-icon name="archive" [color]="colorSecundary" (click)="clickEventHandlerSave($event.target)">
              </ion-icon>
            </ion-buttons>
          </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>