<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-nav-pop>
      <ion-title> Events </ion-title>
    </ion-nav-pop>
  </ion-toolbar>
</ion-header>
<ion-content>
        <ion-grid *ngFor="let info of coffees; let i of index" [ngStyle]="{'width': 320, 'height': 510}"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/coffeedetails/{{info.id}}">
          <ion-row>
            <ion-col>
              <ion-img width="auto" height="350px" src="{{info.image}}" alt="{{info.displayName}}"></ion-img>
              <ion-buttons slot="start">
                <ion-icon name="heart" [color]="color" (click)="clickEventHandler($event.target)"></ion-icon>
              </ion-buttons>
              <ion-title routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                routerLink="/coffeedetails/{{info.id}}">{{info.name}}</ion-title>
              <ion-buttons slot="end">
                <ion-icon name="archive" [color]="colorSecundary" (click)="clickEventHandlerSave($event.target)"></ion-icon>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-grid> 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLinkActive="active" routerLink="/edit">
    <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>