ion-col{
    ion-text{
        vertical-align: center;
    }
}


.container{
    display: inline-block;
    overflow: auto;
    max-height: 55px;
    max-width: 100%;
    padding: 0;
    margin: 0, 2;
    li{
        display: block;
        width: auto;
        text-align: center;
        padding: 0;
        margin: 0;
        ion-avatar{
            padding:auto;
            border: 4px solid #026fc9;
            width: 50px;
            height: 50px;
        }
        ion-text{
            font-size: 12px;
        }
    }
}