<!-- <ion-slides class="film-slider "  [options]="slidesOpts">
  <ion-slide *ngFor="let track of tracks" [routerLink]="['/tabs/tab1/track.value']">
    <ion-chip [color]="colorSecundary" (click)="clickEventHandlerSave($event.target)">
      {{track.name}}
    </ion-chip>
  </ion-slide>
</ion-slides>  -->

<ul class="container">
  <li *ngFor="let track of tracks" [routerLink]="['/tabs/tab1/track.value']">
    <ion-chip  [color]="colorSecundary" (click)="clickEventHandlerSave($event.target)">
      <ion-label> {{track.name}} </ion-label>
    </ion-chip>
  </li>
</ul>