<ion-header>
    <ion-toolbar color='dark'>
      <ion-title>
        Favorites
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let item of items"  >
            <ion-item routerLink="/details/{{item.isbn}}">
                <ion-img style='width: 90px; height: 40px;' class="item-img" slot="start" src="{{item.image}}" alt="{{item.titulo}}"></ion-img>
                <div class="item-text" slot="end">
                  <ion-text>{{item.titulo}}</ion-text>
                  <ion-text>{{item.price}}</ion-text>
                </div>
              </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" expandable (click)="removeFavorite(item.isbn)">
                    <ion-icon name='md-trash'></ion-icon>
                  </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
    </ion-list>
  </ion-content>
  