<ion-header>
    <ion-toolbar color='dark'>
      <ion-title>
        Favorites
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of items" routerLink="/details/{{item.isbn}}">
        <div class="item-img">
          <ion-img src="{{item.image}}" alt="{{item.titulo}}"></ion-img>
        </div>
        <div class="item-note" slot="end">
          {{item.titulo}}
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  