<ion-menu contentId="menu-content">
        <ion-header>
            <ion-toolbar >
                <ion-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/profile">
                    <ion-avatar  slot="start">
                        <img src="https://cdn1.iconfinder.com/data/icons/business-users/512/circle-512.png"
                            alt="https://cdn2.iconfinder.com/data/icons/scenarium-vol-4/128/002_avatar_man_profile_account_user_male-128.png">
                    </ion-avatar>
                    <ion-label>Jorge Beneyto Castelló</ion-label>
                </ion-item>
            </ion-toolbar>
        </ion-header>
        <ion-content>
    
            <ion-list color="medium">
                <ion-menu-toggle  auto-hide="false" *ngFor="let p of appPages">
                    <ion-item-divider [routerDirection]="'root'" [routerLink]="[p.url]">
                        <ion-icon slot="start" [name]="p.icon"></ion-icon>
                        <ion-label>
                            {{p.title}}
                        </ion-label>
                    </ion-item-divider>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>