<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Profile
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="changeeditable()">
                    <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="logout()">
                    <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
        <ion-item>
            <ion-avatar>
                <img [src]="currentUser.avatar" *ngIf="!avaible"
                    alt="https://cdn2.iconfinder.com/data/icons/scenarium-vol-4/128/002_avatar_man_profile_account_user_male-128.png">
            </ion-avatar>
        </ion-item>

        <ion-button expand="block" shape="round" *ngIf="avaible" color='dark' (click)="changeavatar()">Cambiar la foto</ion-button>

        <ion-list>
            <ion-item>
                <ion-label *ngIf="!avaible">{{ currentUser.usuario }}</ion-label>
                <ion-input *ngIf="avaible" formControlName="usuario" placeholder="Username"
                    class="form-control form-control-lg" type="text" value="{{ currentUser.usuario }}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label *ngIf="!avaible">{{currentUser.email}}</ion-label>
                <ion-input *ngIf="avaible" formControlName="email" placeholder="Email"
                    class="form-control form-control-lg" type="text" value="{{currentUser.email}}">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-icon name="people"></ion-icon>
                <ion-label>"Tipo de usuario"</ion-label>
                <ion-select *ngIf="avaible" placeholder="Eligue el tipo de usuario" value="{{currentUser.tipo}}"></ion-select>
                <ion-select *ngIf="avaible" placeholder="Eligue el tipo de usuario" formControlName="tipo" value="{{currentUser.tipo}}">
                    <ion-select-option value="admin">Admin</ion-select-option>
                    <ion-select-option value="client">Client</ion-select-option>
                </ion-select>
            </ion-item>


            <ion-item>
                <ion-label *ngIf="!avaible">{{currentUser.password}}</ion-label>
                <ion-input *ngIf="avaible" formControlName="password" placeholder="Password"
                    class="form-control form-control-lg" type="password" value="{{currentUser.password}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label *ngIf="!avaible">{{currentUser.pais}}</ion-label>
                <ion-input *ngIf="avaible" formControlName="pais" placeholder="Pais"
                    class="form-control form-control-lg" type="text" value="{{currentUser.pais}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label *ngIf="!avaible">{{currentUser.provincia}}</ion-label>
                <ion-input *ngIf="avaible" formControlName="provincia" placeholder="Provincia"
                    class="form-control form-control-lg" type="text" value="{{currentUser.provincia}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label *ngIf="!avaible">{{currentUser.poblacion}}</ion-label>
                <ion-input *ngIf="avaible" formControlName="poblacion" placeholder="poblacion"
                    class="form-control form-control-lg" type="text" value="{{currentUser.poblacion}}"></ion-input>
            </ion-item>
        </ion-list>
        <ion-button shape="round" expand="block" *ngIf="avaible" color='dark' type="submit">
            <ion-icon name="person"></ion-icon>Guardar cambios
        </ion-button>
    </form>
</ion-content>