<ion-header>
  <ion-toolbar color='dark'>
    <ion-title>
      Libros Favoritos
    </ion-title>
      <ion-avatar slot="end">
        <img *ngIf="!authenticated" [routerLink]="['/login']"
          src="https://cdn1.iconfinder.com/data/icons/business-users/512/circle-512.png"
          alt="https://cdn2.iconfinder.com/data/icons/scenarium-vol-4/128/002_avatar_man_profile_account_user_male-128.png">
  
        <img *ngIf="authenticated" [routerLink]="['/profile', currentUser.usuario]" [src]="currentUser.avatar"
          alt="https://cdn2.iconfinder.com/data/icons/scenarium-vol-4/128/002_avatar_man_profile_account_user_male-128.png">
      </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [hidden]='items.length > 0'>
    <ion-card-title>No hay libros favoritos</ion-card-title>
  </ion-card>
  <ion-list *ngIf="items.length > 0" >
    <ion-item-sliding *ngFor="let item of items">
      <ion-item routerLink="/details/{{item.isbn}}">
        <ion-img class="item-img" slot="start" src="{{item.image}}"
          alt="{{item.titulo}}"></ion-img>
        <div class="item-text" slot="end">
          <ion-text>{{item.titulo}}  </ion-text>
          <ion-text>{{item.price}} €</ion-text>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="removeFavorite(item.isbn)">
          <ion-icon name='trash'></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>