<ion-header>
  <ion-toolbar [color]="authenticated == true ? 'dark' : 'default'">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        {{books[0].titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-no-padding>
  <div class="about-header" *ngFor="let info of books; let i of index">
    <img src="{{info.image}}" alt="{{info.titulo}}">
  </div>
  <div class="about-info" *ngFor="let info of books; let i of index">
    <h4 class="ion-padding-start">{{info.titulo}}</h4>
        <ion-buttons  class="ion-justify-content-center">
            <ion-button (click)="reserve()">
              <ion-icon name="archive"></ion-icon>
            </ion-button>
            <ion-button  (click)="clickEventHandler()" >
              <ion-icon name="heart"  [color]="info.favorite == 1 ? 'danger':'default'" ></ion-icon>
            </ion-button>
            <ion-button (click)="clickEventHandlerSave()" >
              <ion-icon name="bookmark" [color]="colorSecundary"></ion-icon>
            </ion-button>
            <ion-chip >{{info.state}}</ion-chip>
          </ion-buttons>
    <ion-list lines="none" *ngFor="let info of books; let i of index">
      <ion-item>
        <ion-text> Autor/a: {{info.name}}</ion-text>
      </ion-item>
        <p>Año de publicación: {{info.yearpublication}}</p>
        <p>Numero de paginas: {{info.numpags}}</p>
        <p>Stock: {{info.stock}}</p>
        <p>Edición: {{info.edition}}</p>
        <p>Idioma: {{info.languaje}}</p>
                  
    </ion-list>

    <p class="ion-padding-start">
      {{info.sinopsis}}
    </p>
  </div>
</ion-content>