<ion-header>
  <ion-toolbar [color]="authcolor">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Details
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content ion-no-padding>
  <ion-list *ngFor="let info of infos; let i of index">
      <ion-item ion-no-padding [ngStyle]="{'text-align': center}" >
          <ion-img width="320" src="{{info.image}}"  class="app-logo" alt="{{info.titulo}}"></ion-img>
        </ion-item>
        <ion-item>
          <strong>{{info.titulo}}</strong>
          <p>{{info.sinopsis}}</p>
        </ion-item>
        <ion-buttons>
          <ion-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/reserve/add/{{isbn}}">Reservar</ion-button>
          <ion-button >Favoritos</ion-button>
        </ion-buttons>
  </ion-list>
</ion-content>