<ion-header>
  <ion-toolbar color='dark'>
    <ion-title>
      Mis coleciones
    </ion-title>
      <ion-avatar slot="end">
        <img *ngIf="!authenticated" [routerLink]="['/login']"
          src="https://cdn1.iconfinder.com/data/icons/business-users/512/circle-512.png"
          alt="https://cdn2.iconfinder.com/data/icons/scenarium-vol-4/128/002_avatar_man_profile_account_user_male-128.png">
  
        <img *ngIf="authenticated" [routerLink]="['/profile', currentUser.usuario]" [src]="currentUser.avatar"
          alt="https://cdn2.iconfinder.com/data/icons/scenarium-vol-4/128/002_avatar_man_profile_account_user_male-128.png">
      </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item [hidden]='collections.length > 0'>No hay niguna coleción</ion-item>
    <ion-item-sliding *ngFor="let collection of collections" >
        <ion-item color="primary" >
          <ion-label>{{collection.name}}</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="delete(collection.id)">
            <ion-icon name='trash'></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
</ion-content>

